.popup__form-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 30px 0 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}